<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       
       
        <bean id="PaymentDepartment" class="com.example.Customers.PaymentDepartment" />
        <bean id="QueryDepartment" class="com.example.Customers.QueryDepartment" />
        <bean id="SalesDepartment" class="com.example.Customers.SalesDepartment" />
       
</beans>